.navbar {
  background-color: #383838; }
  .navbar .r-item:hover {
    color: gray; }

.navbar-brand .r-item {
  color: #fff;
  font-weight: bold; }

.navbar-burger:hover {
  background-color: #eeeeee; }

.r-item {
  color: #c1c1c1;
  padding: 0.5rem 1.75rem; }
  @media screen and (max-width: 768px) {
    .r-item {
      color: gray; }
      .r-item:hover {
        background-color: #f1f1f1; } }
